/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-may-2016, 16:04:46
    Author     : francisco
*/

body{
    min-height: 2000px;
    padding-top: 55px;
}